body{
    background-color: rgb(250, 250, 250);
    padding-top: 70px;
}

.row{
    width: 15%;
}


.title{
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}

.App{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.boxes{
    padding: 16px 55px;
    color: hsla(0, 0%, 100%, 0.75);
    height: 450px;
}

.footer{
    margin-top: 80px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .row{
        width: 75%;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .row{
        width: 33%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .row{
        width: 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .row{
        width: 25%;
    }

}

@media only screen and (min-width: 1500px) {
    .row{
        width: 20%;
    }

}

@media only screen and (min-width: 1920px) {
    .row{
        width: 15%;
    }

}
